<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-lg-12">

      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-10">
              <h4>Général Information</h4>
            </div>
            
            <div class="col-sm-2">              
              <button class="btn btn-success float-right" (click)="this.changeScreen('zfm/look')" >
                <i class="fa fa-check fa-lg mt-4"></i>
              </button>
              <button class="btn float-right">
                <i class="fa fa-undo fa-lg mt-4"></i>
              </button>
            </div>
          </div>
          
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-group col-sm-3">
              <label for="">Event</label>
              
                <select id="select-searchfield" [(ngModel)]="this.zfm.$selectedFam.$event"
                name="select-searchfield" class="form-control">
                  <option value="" selected>Event</option>
                  <option value="sab">Sabath</option>
                  <option value="new_moon">New Moon</option>
                  <option value="passover">Passover</option>
                  <option value="feast">Feast</option>
                  <option value="pentekost">Pentekost</option>
                  <option value="other">Other</option>
                </select>  
            </div>
            <div class="form-group col-sm-3">
              <label for="">Date</label>
              <!--<input class="form-control" type="" moment-picker="this.zfm.$selectedFam.$date"
               name="" [ngModel]="this.zfm.$selectedFam.$date | date: 'dd/MM/yyyy'" 
               (ngModelChange)="this.zfm.$selectedFam.$dateString=$event" >-->
               <input placeholder="Datepicker" [bsConfig]="dpConfig" [ngModel]="this.zfm.$selectedFam.$date" (ngModelChange)="this.$date=$event" [ngModelOptions]="{standalone: true}" type="text" class="form-control" bsDatepicker #dp="bsDatepicker">
            </div>
            <!-- <div class="form-group col-sm-3">
              <label for="">Place</label>
              <input class="form-control" type="" name="" disabled [(ngModel)]="this.zfm.$selectedFam.$place.$place">
              
            </div> -->
            <div class="form-group col-sm-3">
              <label for="">Duration</label>
              <!--<input class="form-control" type="" name="" [(ngModel)]="this.zfm.$selectedFam.$timeLong" >-->
              <timepicker class="hide-arrow" [ngModel]="this.zfm.$selectedFam.$timeLong" (ngModelChange)="this.zfm.$selectedFam.$timeLong=$event" [showMeridian]="false"  [ngModelOptions]="{standalone: true}"></timepicker>
              <!--<owl-date-time ></owl-date-time>-->
            </div>
          </div>

        </div>
      </div>




    </div>
    <div class="col-sm-12 col-lg-5">

      <div class="card">
        <div class="card-header pb-0">
          <h4 class="mb-0">Summary</h4>
          <p>{{this.zfm.$selectedFam.$event}} | {{this.zfm.$selectedFam.$date | date: 'dd/MM/yyyy' }} </p>
        </div>
        <div>
          <textarea [froalaEditor] [(froalaModel)]="this.zfm.$selectedFam.$summary"></textarea>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-7">
      <div class="card">
        <div class="card-header pb-0">
          <h4 class="mb-0">Content</h4>
          <p>{{this.zfm.$selectedFam.$event}} | {{this.zfm.$selectedFam.$date | date: 'dd/MM/yyyy' }} ({{this.zfm.$selectedFam.$place.$place}})</p>
        </div>
        <div>
          <textarea [froalaEditor] [(froalaModel)]="this.zfm.$selectedFam.$fam"></textarea>
        </div>

      </div>

    </div>
  </div>
</div>
