.bg-other{
    background-color:gray;
}
.black{
    color:black;
}
my-date-picker{
    input.ng-pristine{
        display:none;
    }
    .selectiongroup{
        background:transparent;
    }
    .mydp{
        border:none;
    }
}