<div class="animated fadeIn">
  <div class="row">
    <div *ngIf="this.base.$isCollapsed" class="filter-part col-sm-12 col-lg-3">
      <div class="card">
        <div class="card-header">
          Filter
        </div>
        <div class="card-body">
          <form action="" method="post">
            <div class="form-group">
              <div class="input-group">
                <input type="text" id="contain-searchfield" [ngModel]="this.contain" (ngModelChange)="this.$contain=$event" name="contain-searchfield"
                  class="form-control" placeholder="Content Search">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <select id="select-searchfield" [ngModel]="this.event" (ngModelChange)="this.$events=$event" name="select-searchfield" class="form-control">
                  <option value="" selected>Event</option>
                  <option value="sab">Sabath</option>
                  <option value="new_moon">New Moon</option>
                  <option value="passover">Passover</option>
                  <option value="feast">Feast</option>
                  <option value="pentekost">Pentekost</option>
                  <option value="other">Other</option>
                </select>
              </div>
            </div>
            <!--<div class="form-group">
              <label for="">{{this.filter.date}} </label>
              <div class="input-group">
              <input type="text" [ngModel]="this.filter.date | date: 'dd/MM/yyyy'"  id="date-searchfield" name="date-searchfield" class="form-control" placeholder="Date">   
              <span class="input-group-addon hideinputpicker">
                <my-date-picker name="mydate" [ngModel]="this.filter.date | date: 'dd/MM/yyyy'" 
                (ngModelChange)="this.$dateFilter=$event" [options]="this.myDatePickerOptions" required></my-date-picker></span>
               
              </div>
            </div>-->
            <div class="form-group">
              <!--<label for="">Time long</label>-->
              <div class="input-group">
                <input placeholder="Datepicker" [bsConfig]="dpConfig" [ngModel]="this.date" (ngModelChange)="this.$date=$event" [ngModelOptions]="{standalone: true}"
                  type="text" class="form-control" bsDatepicker #dp="bsDatepicker">
                <span class="input-group-addon {{this.date_month?'bg-primary':''}}" (click)="this.toggleDateMonth()">month</span>
                <span class="input-group-addon {{this.date_year?'bg-primary':''}}" (click)="this.toggleDateYear()">year</span>
                <span class="input-group-addon" (click)="dp.toggle()"><i class="fa fa-calendar"></i></span>
              </div>
            </div>
            <div class="form-group">
              <!--<label for="">Time long</label>-->
              <div class="input-group">
                <input class="form-control" [bsConfig]="bsRangeConfig" #drp="bsDaterangepicker" [ngModelOptions]="{standalone: true}" bsDaterangepicker
                  [ngModel]="this.date_range" (ngModelChange)="this.$date_range=$event">
                <span class="input-group-addon {{this.date_range_month?'bg-primary':''}}" (click)="this.toggleDateRangeMonth()">month</span>
                <span class="input-group-addon {{this.date_range_year?'bg-primary':''}}" (click)="this.toggleDateRangeYear()">year</span>
                <span class="input-group-addon" (click)="drp.toggle()"><i class="fa fa-calendar"></i>&nbsp;<i class="fa fa-calendar"></i></span>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <input type="text" id="place-searchfield" name="place-searchfield" class="form-control" placeholder="Place">
                <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
              </div>
            </div>

            <div class="form-group">
              <!--<label for="">Time long</label>-->
              <div class="input-group">

                <timepicker class="hide-arrow" [ngModel]="this.time1" (ngModelChange)="this.$time1=$event" [showMeridian]="false" [ngModelOptions]="{standalone: true}"></timepicker>
                <timepicker class="hide-arrow" [ngModel]="this.time2" (ngModelChange)="this.$time2=$event" [showMeridian]="false" [ngModelOptions]="{standalone: true}"></timepicker>
                <!--{{this.filter.time1 | date:'hh:mm'}}               -->
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">

                <!--{{this.filter.time2 | date:'hh:mm'}}               -->
              </div>
            </div>
            <div class="form-group form-actions">
              <button type="submit" class="btn btn-sm btn-secondary">Submit</button>
            </div>
          </form>
        </div>
      </div>

    </div>
    <div [ngClass]="this.base.$isCollapsed?'col-sm-12 col-lg-9 row':'col-sm-12 col-lg-12 row'">
      <ng-container *ngFor="let fam of (this.toShow | async) | paginate: { itemsPerPage: 11, currentPage: p }">
        <!-- <div *ngIf="(fam.$num==this.filter.num || this.filter.num==0) 
        && (fam.$event.indexOf(this.filter.event)!=-1 || this.filter.event=='') 
        && (fam.$summary.indexOf(this.filter.contain)!=-1 || this.filter.contain=='')
        && (fam.$fam.indexOf(this.filter.contain)!=-1 || this.filter.contain=='')
        && (fam.$place.$place.indexOf(this.filter.place)!=-1 || this.filter.place=='' )
        && (fam.$timeLong.indexOf(this.filter.timeLong)!=-1 || this.filter.timeLong=='' ) " class="col-sm-6 col-lg-3"> -->
        <div class="col-sm-6 col-lg-2">
          <div class="card {{fam.$event=='moon'?'':(fam.$event=='sab'?'text-white bg-primary':(fam.$event=='paska'?'text-white bg-danger':(fam.$event=='pentek'?'text-white bg-warning':(fam.$event=='feast'?'text-white bg-info':'text-white bg-other'))))}}">
            <div class="card-body pb-0">
              <div class="btn-group float-right" dropdown>
                <button type="button" class="btn btn-transparent dropdown-toggle p-0 black" dropdownToggle>
                  <i class="icon-settings"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right " *dropdownMenu>
                  <a class="dropdown-item" (click)="this.selectFam(fam);this.changeScreen('zfm/look/detail');">Look</a>
                  <a class="dropdown-item" >
                      <delete-confirm (onConfirm)="sendDelete($event)"
                      (onCancel)="sendCancel($event)"></delete-confirm>
                  </a>
                  <a class="dropdown-item" href="#">Quick modif</a>
                </div>
              </div>
              <h4 class="mb-0">{{fam.$event}}</h4>
              <p>{{fam.$date | date: 'dd/MM/yyyy'}} </p>
              <!--<p (click)="this.changeCollapse()">{{this.base.$isCollapsed?'col-sm-12 col-lg-9 row':'col-sm-12 col-lg-12 '}} </p>-->
            </div>
            <div class="chart-wrapper px-3" style="height:auto;">
              <p>{{fam.$place | placepipe:'$displayName'}}
              | {{fam.$timeLong | date:'hh:mm'}}</p>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="col-sm-6 col-lg-2">
          <div class="card addFam bg-success" (click)="this.addNewFam()" >
            <div class="card-body pb-0">
              <div class="btn-group float-right" dropdown>
                <button type="button" class="btn btn-transparent dropdown-toggle p-0 black" dropdownToggle>
                  <i class="icon-plus"></i>
                </button>
               
              </div>
              <h4 class="mb-0">&nbsp;</h4>
              <p>add</p>
              <!--<p (click)="this.changeCollapse()">{{this.base.$isCollapsed?'col-sm-12 col-lg-9 row':'col-sm-12 col-lg-12 '}} </p>-->
            </div>
            <div class="chart-wrapper px-3" style="height:40px;">
              <p>&nbsp;</p>
              <p>&nbsp;</p>
            </div>
          </div>
        </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>

    </div>
  </div>

