.hideinputpicker{    
    display:block;
    .ng-pristine{
        display:none;
    }
    .selectiongroup{
        background:transparent;
    }
    .mydp{
        border:none;
    }
   .selbtngroup{
       width:auto;
   }
}