body{
  background-color:white;
  
  &::after{
    content: "";
    background-image:url('../assets/img/bg.jpg');
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    width:100%;height:100%;
    z-index: -1; 
  }
}

.hideinputpicker {
  padding: 0 0.75rem;
  input[ngtype="text"] {
    display: none;
  }
  .mydp {
    border: none;
    .selbtngroup {
      width: auto;
    }
    .btnpicker {
      background: transparent; // height: ;    
    }
    .selectiongroup {
      background: transparent;
    }
  }
}



bs-daterangepicker-container,bs-datepicker-container {
  .bs-datepicker {
    z-index: 4;
    left: 50%;
  }
}

timepicker{
  &.hide-arrow{
    tr.text-center{
      display:none;
    }
  }
}
