.hideinputpicker{    
    padding: 0 0.75rem;
     input[ngtype="text"]{
         display:none;
     }
     
     
     .mydp{
         border:none;
         .selbtngroup{
            width:auto;
        }
        .btnpicker {
            background:transparent;   
            // height: ;    
        }
        .selectiongroup{
            background:transparent;         
        }
     }
    
 }